[project]
	description = test
[access "refs/*"]
	owner = group user/vkagalkar (vkagalkar)
[access "refs/for/refs/*"]
	read = group user/vkagalkar (vkagalkar)
	push = group user/vkagalkar (vkagalkar)
	label-Code-Review = -2..+2 group user/vkagalkar (vkagalkar)
	label-Verified = -1..+1 group user/vkagalkar (vkagalkar)
	rebase = group user/vkagalkar (vkagalkar)
	removeReviewer = group user/vkagalkar (vkagalkar)
	submit = group user/vkagalkar (vkagalkar)
[access "refs/heads/*"]
	read = group user/vkagalkar (vkagalkar)
	create = group user/vkagalkar (vkagalkar)
	push = +force group user/vkagalkar (vkagalkar)
	pushMerge = group user/vkagalkar (vkagalkar)
[access "refs/tags/*"]
	push = +force group user/vkagalkar (vkagalkar)
	pushTag = group user/vkagalkar (vkagalkar)
	pushSignedTag = group user/vkagalkar (vkagalkar)
